<div class="forgot_wrap">
  <div class="forgot_bx">
    <div class="login_lock"><img src="../../../assets/img/lock.svg"/></div>
    <h1>Forgot your Password?</h1>
    <p>To reset your password, please enter your email address. An email will be sent to this address with a verification code. The link will expire in 20 minutes</p>
    <input type="text" placeholder="Enter you Email"/>
    <div class="forgot_action_btn">
        <a class="btn_gray">Cancel</a> <a class="btn_blue">Send Code</a>
    </div>
  </div>
</div>
