<div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="grdnt_bx">
            <div class="logo"><img src="../../../assets/img/logo.svg"/></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="login_wrap">
            <div class="login_bx">
                <h1>Log in to your account</h1>
                <form>
                    <input type="text" placeholder="Username">
                    <div class="password_e">
                        <input type="password" placeholder="Password">
                        <img src="../../../assets/img/password_eye.svg"/>
                    </div>                    
                    <a routerLink="/forgot-password">Forgot Password?</a>
                    <button>LOGIN</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
